@charset "UTF-8";
/* CSS Document */
/* リセット
---------------------------------------------------- */
*:focus {
  outline: none;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}

fieldset, img {
  border: 0;
  vertical-align: top;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: inherit;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
  font-weight: inherit;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

br {
  letter-spacing: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

main {
  display: block;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/* ページ共通
---------------------------------------------------- */
html {
  color: #000;
  font-size: 10px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 1.5625vw;
  }
}

body {
  margin: 0;
  padding: 0;
  font: 10px/1.4 'Noto Sans Japanese', "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1.6rem !important;
}

@media screen and (max-width: 767px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

*:first-child + html body {
  font-size: 87%;
}

hr {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  /* 新しい要素を作る */
  display: block;
  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*/
  /*/
  height: auto;
  overflow: hidden;
  /**/
}

.clear {
  clear: both;
}

.none {
  margin: 0;
  padding: 0;
  border: none;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
@keyframes kakudai {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes coverIn {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes news-show {
  0% {
    opacity: 0;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: -10px;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes hayabusachan {
  0% {
    opacity: 0;
    bottom: -200px;
  }
  100% {
    opacity: 1;
    bottom: -100px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes historyBox {
  0% {
    height: 0;
  }
  100% {
    height: 99%;
  }
}

@keyframes bgZoom {
  0% {
    background-size: 100% auto;
  }
  100% {
    background-size: 200% auto;
  }
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated4 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated2.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated3.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated4.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -goog-ms-animation-timing-function: linear;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1.25);
    transform: scale3d(1.25, 1.25, 1.25);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

/*--------------------------------------
 レイアウト
---------------------------------------*/
#company #contents {
  background-image: none;
  width: auto;
  text-align: center;
}

/*--------------------------------------
 要素
---------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

svg {
  vertical-align: top;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
}

/*--------------------------------------
 パーツ
---------------------------------------*/
.u- {
  /* パディング */
  /* インナー */
  /* タイトル */
  /* テキスト */
  /* テキスト色 */
  /* 背景色 */
  /* ボタン */
  /* ラベル */
  /* アイコン */
  /* 注釈 */
  /* リスト */
  /* テーブル */
  /* リンク集 */
  /* 箱 */
  /* ページャー */
  /* 状態 */
}

@media screen and (max-width: 767px) {
  .u-spPd1 {
    padding-left: 2.34375vw;
    padding-right: 2.34375vw;
  }
}

.u-inner {
  max-width: 936px;
  margin-left: auto;
  margin-right: auto;
}

.u-inner.sz2 {
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 767px) {
  .u-inner {
    width: auto;
  }
}

.u-ttl1 {
  font-size: 3.0rem;
}

.u-ttl2 {
  font-size: 2.4rem;
  font-style: italic;
}

.u-mainColor {
  background-color: #f00;
}

.u-subColor {
  background-color: #0f0;
}

.u-accentColor {
  background-color: #00f;
}

.u-red1 {
  background-color: #c80000;
}

.u-red1_a50 {
  background-color: rgba(200, 0, 0, 0.5);
}

.u-btn1 {
  display: inline-block;
  border-radius: 8px;
}

.u-btn1.sz1 {
  padding: 0.5em 1.0em;
  font-size: 1.8rem;
}

.u-btn1.clr1 {
  background-color: #00f;
  color: #fff;
  transition: opacity 0.3s;
}

.u-btn1.clr1:hover {
  opacity: 0.7;
}

.u-btn1.clr2 {
  background-color: #c80000;
  transition: background-color 0.3s;
  color: #fff;
}

.u-btn1.clr2:hover {
  background-color: #ff1616;
}

.u-pager1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-dis_flex_block {
  display: flex;
}

@media screen and (max-width: 767px) {
  .u-dis_flex_block {
    display: block;
  }
}

/* その他 */
/*--------------------------------------
 プラグイン
---------------------------------------*/
/* Slick */
.slick-slider {
  margin-bottom: 0;
}

.slick-arrow {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
  width: 38px;
  height: 59px;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 1;
  transform: translate(0);
  transition: opacity 0.3s;
}

.slick-arrow:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .slick-arrow {
    width: 2.89375vw;
    height: 4.6875vw;
  }
}

.slick-arrow:before {
  content: normal;
}

.slick-arrow.slick-prev {
  background-image: url(../img/slk_arw1_l.png);
  left: 20px;
}

@media screen and (max-width: 767px) {
  .slick-arrow.slick-prev {
    left: 0.78125vw;
  }
}

.slick-arrow.slick-next {
  background-image: url(../img/slk_arw1_r.png);
  right: 20px;
}

@media screen and (max-width: 767px) {
  .slick-arrow.slick-next {
    right: 0.78125vw;
  }
}

.slick-dots li {
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 0 11px;
  border-radius: 50%;
  box-sizing: border-box;
}

.slick-dots li.slick-active {
  background-color: #3B3561;
  border: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .slick-dots li {
    width: 4vw;
    height: 4vw;
    margin: 0 2.93333vw;
  }
  .slick-dots li.slick-active {
    border-width: 0.3125vw;
  }
}

.modalBox {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.modalBox .modalInner {
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 20%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .modalBox .modalInner {
    width: 90%;
  }
}

.modalBox .modalInner p {
  text-align: left;
  padding: 20px 0;
  font-size: 1.5rem;
}

.modalBox .btnClose {
  display: inline-block;
  font-size: 1.5rem;
  background: #333;
  padding: 5px;
  color: #FFF;
}

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/
.mainZone .secTtl {
  background: url("../img/main/ttl_bg_wrap.png") center center no-repeat;
  background-size: cover;
  height: 378px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.mainZone .secTtl > * {
  position: absolute;
}

.mainZone .secTtl:before {
  content: "";
  display: block;
  background: url("../img/main/ttl_grad.png") 0 0 no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 104px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.mainZone .secTtl .img {
  margin-left: -430px;
  top: -24px;
  left: 50%;
}

.mainZone .secTtl h1 {
  margin-left: -275px;
  top: 306px;
  left: 50%;
  z-index: 2;
}

.mainZone .secBox {
  background: url("../img/main/box_bg_wrap.png") center center no-repeat;
  background-size: cover;
  padding: 55px 0 49px;
}

.mainZone .secBox .box {
  border-radius: 20px;
  box-shadow: 3.009px 3.993px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}

.mainZone .secBox .box .partTtl {
  width: 100%;
  position: absolute;
  top: -33px;
  left: 0;
}

.mainZone .secBox .box .partTtl span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 347px;
  height: 73px;
  border-radius: 100px;
}

.mainZone .secBox .box .partTtl span img {
  width: 265px;
}

.mainZone .secBox .box .partGoods {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 40px 40px 15px;
  border-radius: 20px 20px 0 0;
}

.mainZone .secBox .box .partGoods > li {
  display: flex;
  align-items: flex-start;
  width: 47.66355%;
  margin-right: 4.6729%;
  padding: 15px 0;
}

.mainZone .secBox .box .partGoods > li:nth-child(even) {
  margin-right: 0;
}

.mainZone .secBox .box .partGoods > li:nth-child(n + 3) {
  border-top: 1px dotted #ccc;
}

.mainZone .secBox .box .partGoods .img {
  flex-shrink: 0;
  width: 133px;
  margin-right: 15px;
}

.mainZone .secBox .box .partGoods .txts {
  width: 100%;
  text-align: left;
}

.mainZone .secBox .box .partGoods .txts h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.mainZone .secBox .box .partGoods .txts h3 strong {
  color: #c40000;
  font-size: 2.0rem;
}

.mainZone .secBox .box .partGoods .txts h3 span {
  font-size: 1.5rem;
}

.mainZone .secBox .box .partGoods .txts .numBox {
  display: flex;
  width: 124px;
  margin-top: 15px;
  border: 1px solid #cecece;
  border-radius: 3px;
  overflow: hidden;
}

.mainZone .secBox .box .partGoods .txts .numBox button {
  flex-shrink: 0;
  background-color: #595959;
  background-position: center center;
  background-repeat: no-repeat;
  width: 34px;
  height: 36px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.mainZone .secBox .box .partGoods .txts .numBox button:hover {
  opacity: 0.7;
}

.mainZone .secBox .box .partGoods .txts .numBox button.minus {
  background-image: url("../img//main/icn_minus.svg");
}

.mainZone .secBox .box .partGoods .txts .numBox button.plus {
  background-image: url("../img//main/icn_plus.svg");
}

.mainZone .secBox .box .partGoods .txts .numBox .num {
  width: 100%;
  font-size: 1.7rem;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.mainZone .secBox .box .partGoods .txts .numBox .num input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.mainZone .secBox .box .partCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b4e4e4;
  padding: 14px 43px 19px 41px;
  font-weight: bold;
  border-radius: 0 0 20px 20px;
  border-top: 2px solid #009a9a;
}

.mainZone .secBox .box .partCart dl {
  display: flex;
  align-items: center;
}

.mainZone .secBox .box .partCart dl dt span {
  display: block;
  background-color: #009a9a;
  color: #fff;
  padding: 5px 18px 4px;
  font-size: 1.5rem;
  border-radius: 3px;
  position: relative;
}

.mainZone .secBox .box .partCart dl dt span:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 7.5px 0 7.5px 8px;
  border-color: transparent transparent transparent #009a9a;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -7px;
}

.mainZone .secBox .box .partCart dl dt span strong {
  color: #fff600;
}

.mainZone .secBox .box .partCart dl dd {
  padding-left: 18px;
  font-size: 1.8rem;
}

.mainZone .secBox .box .partCart dl dd strong {
  margin-left: 12px;
  color: #c61c1c;
  font-size: 2.2rem;
}

.mainZone .secBox .box .partCart dl dd span {
  font-size: 1.4rem;
}

.mainZone .secBox .box .partCart .btn button {
  background-color: #ff7200;
  width: 284px;
  height: 54px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: inherit;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 0px #bb5400;
  cursor: pointer;
  transition: opacity 0.3s;
}

.mainZone .secBox .box .partCart .btn button:hover {
  opacity: 0.7;
}

/*--------------------------------------
 detail
---------------------------------------*/
.detailZone {
  background-color: #f4f4f4;
  padding: 43px 50px 50px;
}

.detailZone h2 {
  color: #009a9a;
  font-size: 2.4rem;
  font-weight: bold;
}

.detailZone h2 span {
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 3px solid #009a9a;
}

.detailZone .lst-series {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 43px;
}

.detailZone .lst-series .cont-series {
  width: 49%;
  box-sizing: border-box;
  padding: 16px 12px 0;
  border-radius: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}

@media screen and (max-width: 767px) {
  .detailZone .lst-series .cont-series {
    width: 100%;
    padding: 10px 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
}

.detailZone .lst-series .cont-series:nth-of-type(n+3) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .detailZone .lst-series .cont-series:nth-of-type(n+3) {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .detailZone .lst-series .cont-series + .cont-series {
    margin-top: 10px;
  }
}

.detailZone .lst-series .cont-series a:link, .detailZone .lst-series .cont-series a:visited {
  color: #000;
  text-decoration: none;
}

.detailZone .lst-series .cont-series .tac {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 0;
}

@media screen and (max-width: 767px) {
  .detailZone .lst-series .cont-series .tac {
    font-size: 2.2rem;
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

/*-- Width --*/
.WAuto {
  width: auto !important;
}

/*-- Margin --*/
.M0 {
  margin: 0 !important;
}

.MA {
  margin: auto !important;
}

.MTA {
  margin-top: auto !important;
}

.MRA {
  margin-right: auto !important;
}

.MBA {
  margin-bottom: auto !important;
}

.MLA {
  margin-left: auto !important;
}

/*-- Padding --*/
.P0 {
  padding: 0 !important;
}

.PA {
  padding: auto !important;
}

.PTA {
  padding-top: auto !important;
}

.PRA {
  padding-right: auto !important;
}

.PBA {
  padding-bottom: auto !important;
}

.PLA {
  padding-left: auto !important;
}

/*-- Font --*/
.ffNS {
  font-family: "Noto Sans Japanese";
}

.fz6 {
  font-size: 6px;
}

.fz6R {
  font-size: 0.6rem;
}

.fz7 {
  font-size: 7px;
}

.fz7R {
  font-size: 0.7rem;
}

.fz8 {
  font-size: 8px;
}

.fz8R {
  font-size: 0.8rem;
}

.fz9 {
  font-size: 9px;
}

.fz9R {
  font-size: 0.9rem;
}

.fz10 {
  font-size: 10px;
}

.fz10R {
  font-size: 1rem;
}

.fz11 {
  font-size: 11px;
}

.fz11R {
  font-size: 1.1rem;
}

.fz12 {
  font-size: 12px;
}

.fz12R {
  font-size: 1.2rem;
}

.fz13 {
  font-size: 13px;
}

.fz13R {
  font-size: 1.3rem;
}

.fz14 {
  font-size: 14px;
}

.fz14R {
  font-size: 1.4rem;
}

.fz15 {
  font-size: 15px;
}

.fz15R {
  font-size: 1.5rem;
}

.fz16 {
  font-size: 16px;
}

.fz16R {
  font-size: 1.6rem;
}

.fz17 {
  font-size: 17px;
}

.fz17R {
  font-size: 1.7rem;
}

.fz18 {
  font-size: 18px;
}

.fz18R {
  font-size: 1.8rem;
}

.fz19 {
  font-size: 19px;
}

.fz19R {
  font-size: 1.9rem;
}

.fz20 {
  font-size: 20px;
}

.fz20R {
  font-size: 2rem;
}

.fz21 {
  font-size: 21px;
}

.fz21R {
  font-size: 2.1rem;
}

.fz22 {
  font-size: 22px;
}

.fz22R {
  font-size: 2.2rem;
}

.fz23 {
  font-size: 23px;
}

.fz23R {
  font-size: 2.3rem;
}

.fz24 {
  font-size: 24px;
}

.fz24R {
  font-size: 2.4rem;
}

.fz25 {
  font-size: 25px;
}

.fz25R {
  font-size: 2.5rem;
}

.fz26 {
  font-size: 26px;
}

.fz26R {
  font-size: 2.6rem;
}

.fz27 {
  font-size: 27px;
}

.fz27R {
  font-size: 2.7rem;
}

.fz28 {
  font-size: 28px;
}

.fz28R {
  font-size: 2.8rem;
}

.fz29 {
  font-size: 29px;
}

.fz29R {
  font-size: 2.9rem;
}

.fz30 {
  font-size: 30px;
}

.fz30R {
  font-size: 3rem;
}

.fz31 {
  font-size: 31px;
}

.fz31R {
  font-size: 3.1rem;
}

.fz32 {
  font-size: 32px;
}

.fz32R {
  font-size: 3.2rem;
}

.fz33 {
  font-size: 33px;
}

.fz33R {
  font-size: 3.3rem;
}

.fz34 {
  font-size: 34px;
}

.fz34R {
  font-size: 3.4rem;
}

.fz35 {
  font-size: 35px;
}

.fz35R {
  font-size: 3.5rem;
}

.fz36 {
  font-size: 36px;
}

.fz36R {
  font-size: 3.6rem;
}

.fz37 {
  font-size: 37px;
}

.fz37R {
  font-size: 3.7rem;
}

.fz38 {
  font-size: 38px;
}

.fz38R {
  font-size: 3.8rem;
}

.fz39 {
  font-size: 39px;
}

.fz39R {
  font-size: 3.9rem;
}

.fz40 {
  font-size: 40px;
}

.fz40R {
  font-size: 4rem;
}

.fz41 {
  font-size: 41px;
}

.fz41R {
  font-size: 4.1rem;
}

.fz42 {
  font-size: 42px;
}

.fz42R {
  font-size: 4.2rem;
}

.fz43 {
  font-size: 43px;
}

.fz43R {
  font-size: 4.3rem;
}

.fz44 {
  font-size: 44px;
}

.fz44R {
  font-size: 4.4rem;
}

.fz45 {
  font-size: 45px;
}

.fz45R {
  font-size: 4.5rem;
}

.fz46 {
  font-size: 46px;
}

.fz46R {
  font-size: 4.6rem;
}

.fz47 {
  font-size: 47px;
}

.fz47R {
  font-size: 4.7rem;
}

.fz48 {
  font-size: 48px;
}

.fz48R {
  font-size: 4.8rem;
}

.fz49 {
  font-size: 49px;
}

.fz49R {
  font-size: 4.9rem;
}

.fz50 {
  font-size: 50px;
}

.fz50R {
  font-size: 5rem;
}

.fwB {
  font-weight: bold !important;
}

.fwN {
  font-weight: normal !important;
}

.lh8 {
  line-height: 0.8 !important;
}

.lh9 {
  line-height: 0.9 !important;
}

.lh10 {
  line-height: 1 !important;
}

.lh11 {
  line-height: 1.1 !important;
}

.lh12 {
  line-height: 1.2 !important;
}

.lh13 {
  line-height: 1.3 !important;
}

.lh14 {
  line-height: 1.4 !important;
}

.lh15 {
  line-height: 1.5 !important;
}

.lh16 {
  line-height: 1.6 !important;
}

.lh17 {
  line-height: 1.7 !important;
}

.lh18 {
  line-height: 1.8 !important;
}

.lh19 {
  line-height: 1.9 !important;
}

.lh20 {
  line-height: 2 !important;
}

.lh21 {
  line-height: 2.1 !important;
}

.lh22 {
  line-height: 2.2 !important;
}

.lh23 {
  line-height: 2.3 !important;
}

.lh24 {
  line-height: 2.4 !important;
}

.lh25 {
  line-height: 2.5 !important;
}

.lh26 {
  line-height: 2.6 !important;
}

.lh27 {
  line-height: 2.7 !important;
}

.lh28 {
  line-height: 2.8 !important;
}

.lh29 {
  line-height: 2.9 !important;
}

.lh30 {
  line-height: 3 !important;
}

/*-- Etc --*/
.disI {
  display: inline !important;
}

.disB {
  display: block !important;
}

.disIB {
  display: inline-block !important;
}

.disT {
  display: table !important;
}

.disTC {
  display: table-cell !important;
}

.disN {
  display: none !important;
}

.disF {
  display: flex !important;
}

.jcFS {
  justify-content: flex-start !important;
}

.jcFE {
  justify-content: flex-end !important;
}

.jcC {
  justify-content: center !important;
}

.jcSB {
  justify-content: space-between !important;
}

.jcSA {
  justify-content: space-around !important;
}

.aiFS {
  align-items: flex-start !important;
}

.aiFE {
  align-items: flex-end !important;
}

.aiC {
  align-items: center !important;
}

.aiS {
  align-items: stretch !important;
}

.aiB {
  align-items: baseline !important;
}

.taL {
  text-align: left !important;
}

.taR {
  text-align: right !important;
}

.taC {
  text-align: center !important;
}

.vaT {
  vertical-align: top !important;
}

.vaM {
  vertical-align: middle !important;
}

.vaB {
  vertical-align: bottom !important;
}

.vaTB {
  vertical-align: text-bottom !important;
}

.fltL {
  float: left !important;
}

.fltR {
  float: right !important;
}

.fltN {
  float: none !important;
}

.posS {
  position: static !important;
}

.posR {
  position: relative !important;
}

.posA {
  position: absolute !important;
}

.posF {
  position: fixed !important;
}

.brWord {
  word-wrap: break-word;
}

.waNw {
  white-space: nowrap;
}

.printDown {
  display: none;
}

.printBreak {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
  /*-- Width --*/
  .spWAuto {
    width: auto !important;
  }
  /*-- Margin --*/
  .spM0 {
    margin: 0 !important;
  }
  .spMA {
    margin: auto !important;
  }
  .spMTA {
    margin-top: auto !important;
  }
  .spMRA {
    margin-right: auto !important;
  }
  .spMBA {
    margin-bottom: auto !important;
  }
  .spMLA {
    margin-left: auto !important;
  }
  /*-- Padding --*/
  .spP0 {
    padding: 0 !important;
  }
  .spPA {
    padding: auto !important;
  }
  .spPTA {
    padding-top: auto !important;
  }
  .spPRA {
    padding-right: auto !important;
  }
  .spPBA {
    padding-bottom: auto !important;
  }
  .spPLA {
    padding-left: auto !important;
  }
  /*-- Font --*/
  .spFz6 {
    font-size: 6px;
  }
  .spFz6R {
    font-size: 0.6rem;
  }
  .spFz7 {
    font-size: 7px;
  }
  .spFz7R {
    font-size: 0.7rem;
  }
  .spFz8 {
    font-size: 8px;
  }
  .spFz8R {
    font-size: 0.8rem;
  }
  .spFz9 {
    font-size: 9px;
  }
  .spFz9R {
    font-size: 0.9rem;
  }
  .spFz10 {
    font-size: 10px;
  }
  .spFz10R {
    font-size: 1rem;
  }
  .spFz11 {
    font-size: 11px;
  }
  .spFz11R {
    font-size: 1.1rem;
  }
  .spFz12 {
    font-size: 12px;
  }
  .spFz12R {
    font-size: 1.2rem;
  }
  .spFz13 {
    font-size: 13px;
  }
  .spFz13R {
    font-size: 1.3rem;
  }
  .spFz14 {
    font-size: 14px;
  }
  .spFz14R {
    font-size: 1.4rem;
  }
  .spFz15 {
    font-size: 15px;
  }
  .spFz15R {
    font-size: 1.5rem;
  }
  .spFz16 {
    font-size: 16px;
  }
  .spFz16R {
    font-size: 1.6rem;
  }
  .spFz17 {
    font-size: 17px;
  }
  .spFz17R {
    font-size: 1.7rem;
  }
  .spFz18 {
    font-size: 18px;
  }
  .spFz18R {
    font-size: 1.8rem;
  }
  .spFz19 {
    font-size: 19px;
  }
  .spFz19R {
    font-size: 1.9rem;
  }
  .spFz20 {
    font-size: 20px;
  }
  .spFz20R {
    font-size: 2rem;
  }
  .spFz21 {
    font-size: 21px;
  }
  .spFz21R {
    font-size: 2.1rem;
  }
  .spFz22 {
    font-size: 22px;
  }
  .spFz22R {
    font-size: 2.2rem;
  }
  .spFz23 {
    font-size: 23px;
  }
  .spFz23R {
    font-size: 2.3rem;
  }
  .spFz24 {
    font-size: 24px;
  }
  .spFz24R {
    font-size: 2.4rem;
  }
  .spFz25 {
    font-size: 25px;
  }
  .spFz25R {
    font-size: 2.5rem;
  }
  .spFz26 {
    font-size: 26px;
  }
  .spFz26R {
    font-size: 2.6rem;
  }
  .spFz27 {
    font-size: 27px;
  }
  .spFz27R {
    font-size: 2.7rem;
  }
  .spFz28 {
    font-size: 28px;
  }
  .spFz28R {
    font-size: 2.8rem;
  }
  .spFz29 {
    font-size: 29px;
  }
  .spFz29R {
    font-size: 2.9rem;
  }
  .spFz30 {
    font-size: 30px;
  }
  .spFz30R {
    font-size: 3rem;
  }
  .spFz31 {
    font-size: 31px;
  }
  .spFz31R {
    font-size: 3.1rem;
  }
  .spFz32 {
    font-size: 32px;
  }
  .spFz32R {
    font-size: 3.2rem;
  }
  .spFz33 {
    font-size: 33px;
  }
  .spFz33R {
    font-size: 3.3rem;
  }
  .spFz34 {
    font-size: 34px;
  }
  .spFz34R {
    font-size: 3.4rem;
  }
  .spFz35 {
    font-size: 35px;
  }
  .spFz35R {
    font-size: 3.5rem;
  }
  .spFz36 {
    font-size: 36px;
  }
  .spFz36R {
    font-size: 3.6rem;
  }
  .spFz37 {
    font-size: 37px;
  }
  .spFz37R {
    font-size: 3.7rem;
  }
  .spFz38 {
    font-size: 38px;
  }
  .spFz38R {
    font-size: 3.8rem;
  }
  .spFz39 {
    font-size: 39px;
  }
  .spFz39R {
    font-size: 3.9rem;
  }
  .spFz40 {
    font-size: 40px;
  }
  .spFz40R {
    font-size: 4rem;
  }
  .spFz41 {
    font-size: 41px;
  }
  .spFz41R {
    font-size: 4.1rem;
  }
  .spFz42 {
    font-size: 42px;
  }
  .spFz42R {
    font-size: 4.2rem;
  }
  .spFz43 {
    font-size: 43px;
  }
  .spFz43R {
    font-size: 4.3rem;
  }
  .spFz44 {
    font-size: 44px;
  }
  .spFz44R {
    font-size: 4.4rem;
  }
  .spFz45 {
    font-size: 45px;
  }
  .spFz45R {
    font-size: 4.5rem;
  }
  .spFz46 {
    font-size: 46px;
  }
  .spFz46R {
    font-size: 4.6rem;
  }
  .spFz47 {
    font-size: 47px;
  }
  .spFz47R {
    font-size: 4.7rem;
  }
  .spFz48 {
    font-size: 48px;
  }
  .spFz48R {
    font-size: 4.8rem;
  }
  .spFz49 {
    font-size: 49px;
  }
  .spFz49R {
    font-size: 4.9rem;
  }
  .spFz50 {
    font-size: 50px;
  }
  .spFz50R {
    font-size: 5rem;
  }
  .spFwB {
    font-weight: bold !important;
  }
  .spFwN {
    font-weight: normal !important;
  }
  .spLh8 {
    line-height: 0.8 !important;
  }
  .spLh9 {
    line-height: 0.9 !important;
  }
  .spLh10 {
    line-height: 1 !important;
  }
  .spLh11 {
    line-height: 1.1 !important;
  }
  .spLh12 {
    line-height: 1.2 !important;
  }
  .spLh13 {
    line-height: 1.3 !important;
  }
  .spLh14 {
    line-height: 1.4 !important;
  }
  .spLh15 {
    line-height: 1.5 !important;
  }
  .spLh16 {
    line-height: 1.6 !important;
  }
  .spLh17 {
    line-height: 1.7 !important;
  }
  .spLh18 {
    line-height: 1.8 !important;
  }
  .spLh19 {
    line-height: 1.9 !important;
  }
  .spLh20 {
    line-height: 2 !important;
  }
  .spLh21 {
    line-height: 2.1 !important;
  }
  .spLh22 {
    line-height: 2.2 !important;
  }
  .spLh23 {
    line-height: 2.3 !important;
  }
  .spLh24 {
    line-height: 2.4 !important;
  }
  .spLh25 {
    line-height: 2.5 !important;
  }
  .spLh26 {
    line-height: 2.6 !important;
  }
  .spLh27 {
    line-height: 2.7 !important;
  }
  .spLh28 {
    line-height: 2.8 !important;
  }
  .spLh29 {
    line-height: 2.9 !important;
  }
  .spLh30 {
    line-height: 3 !important;
  }
  /*-- Etc --*/
  .spDisI {
    display: inline !important;
  }
  .spDisB {
    display: block !important;
  }
  .spDisIB {
    display: inline-block !important;
  }
  .spDisT {
    display: table !important;
  }
  .spDisTC {
    display: table-cell !important;
  }
  .spDisN {
    display: none !important;
  }
  .spDisF {
    display: flex !important;
  }
  .spJcFS {
    justify-content: flex-start !important;
  }
  .spJcFE {
    justify-content: flex-end !important;
  }
  .spJcC {
    justify-content: center !important;
  }
  .spJcSB {
    justify-content: space-between !important;
  }
  .spJcSA {
    justify-content: space-around !important;
  }
  .spAiFS {
    align-items: flex-start;
  }
  .spAiFE {
    align-items: flex-end !important;
  }
  .spAiC {
    align-items: center !important;
  }
  .spAiS {
    align-items: stretch !important;
  }
  .spAiB {
    align-items: baseline !important;
  }
  .spTaL {
    text-align: left !important;
  }
  .spTaR {
    text-align: right !important;
  }
  .spTaC {
    text-align: center !important;
  }
  .spVaT {
    vertical-align: top !important;
  }
  .spVaM {
    vertical-align: middle !important;
  }
  .spVaB {
    vertical-align: bottom !important;
  }
  .spVaTB {
    vertical-align: text-bottom !important;
  }
  .spFltL {
    float: left !important;
  }
  .spFltR {
    float: right !important;
  }
  .spFltN {
    float: none !important;
  }
  .spPosS {
    position: static !important;
  }
  .spPosR {
    position: relative !important;
  }
  .spPosA {
    position: absolute !important;
  }
  .spPosF {
    position: fixed !important;
  }
}
