@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
#company{
  #contents {
    background-image: none;
    width: auto;
    text-align: center;
    .inner{
      
    }
  }
}




